html, body {
    background-color: black;
    padding: 0;
    margin: 0;
    color: black;
    font-family: monospace;
}

.title {
    position: fixed;
    left: 20px;
    top: 20px;
    padding: 15px;
    background-color: white;
    text-align: center;
    max-width: calc(100% - 70px);
}

.title:not(.hidden) #show {
    display: none;
}

.title.hidden > h2, .title.hidden > p, .title.hidden button, .title.hidden .button {
    display: none;
}

.title.hidden {
    padding: 0px;
    border-radius: 10px;
}

.title.hidden #show {
    display: block;
}

.button-row {
    padding: 10px;
}

.title p {
    margin: 8px;
}

.title h2 {
    font-family: sans-serif;
}

.button, button {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 10px;
    color: #222;
    text-decoration: none;
    font-family: monospace;
}
button.pressed {
    background-color: #222222;
    color: white;
}
.button:hover, button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
button.pressed:hover {
    background-color: #555;
}

