html, body {
    background-color: #222222;
    padding: 0;
    margin: 0;
    color: #222222;
    font-family: sans-serif;
}

.title {
    position: fixed;
    left: 20px;
    top: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    max-width: calc(100% - 70px);
}

.title:not(.hidden) #show {
    display: none;
}

.title.hidden > h1, .title.hidden > p, .title.hidden button, .title.hidden .button {
    display: none;
}

.title.hidden {
    padding: 0px;
}

.title.hidden #show {
    display: block;
}

.button-row {
    padding: 10px;
}

p {
    margin: 4px;
}

h1 {
    margin: 8px;
}

.button, button {
    background-color: white;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 999px;
    color: #222222;
    font-size: 100%;
    text-decoration: none;
}
button.pressed {
    background-color: #222222;
    color: white;
}
.button:hover, button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

